@import '../../variables';

.tabs-container {
  margin-bottom: 24px;
  border-bottom: 1px solid $color-border;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab {
  display: inline-block;
}

.tab__btn {
  display: block;
  margin-bottom: -1px;
  padding: 12px 15px;
  border: 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  border-radius: 0;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1;
  font-family: $font-bold;
  color: $color-grey;
  transition: .25s;
}

.tab__btn:hover,
.tab__btn:focus,
.selected {
  border-bottom: 2px solid $color-green;
  color: $color-dark-grey;
}

@media screen and (min-width: 375px) {
  .tab__btn {
    padding: 12px 20px;
  }  
}

 