@import '../../variables';

%grey-medium-text {
  font-family: $font-bold;
  color: $color-grey;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.header__column {
  @extend %grey-medium-text;
  min-width: 25%;
  padding-right: 20px;
  padding: 6px 0 18px;
  text-align: left;
  border-bottom: 1px solid $color-border;
}

.header__column:first-child {
  padding-left: 15px;
}

.header__column:nth-child(2) {
  min-width: 50%;
}

.header__column:last-child {
  text-align: right;
}

.header__date {
  padding-bottom: 12px;
  position: relative;
}

.header__date-btn {
  @extend %grey-medium-text;
  position: relative;
  padding: 6px 12px 6px 0;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__date-btn span {
  position: absolute;
  content: " ";
  right: 0;
  top: 2px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-bottom-color: $color-grey;
}

.header__date-btn.descending-order span {
  top: 9px;
  border-top-color: $color-grey;
  border-bottom-color: transparent;
}

@media screen and (min-width: 375px) {
  .header__column:first-child {
    padding-left: 20px;
  }
}