.header {
  display: flex;
  min-height: 118px;
  margin-bottom: 54px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ED2924;
}

.logo {
  width: 96px;
  height: 74px;
}