@import '../../variables';

.footer__columns {
  display: flex;
  padding: 18px 0 18px 15px;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  font-family: $font-bold;
}

@media screen and (min-width: 375px) {
  .footer__columns {
    padding-left: 20px;
  }
}