@font-face {
  font-family: "SharpGroteskBook";
  src: url(./fonts/SharpGroteskBook20-Regular.woff);
}

@font-face {
  font-family: "SharpGroteskSmBold";
  src: url(./fonts/SharpGroteskSmBold20-Regular.woff);
}

$font: "SharpGroteskBook", sans-serif;
$font-bold: "SharpGroteskSmBold", sans-serif;

$color-content: #1E1E1E;
$color-grey: #999999;
$color-border: #E6E6E6;
$color-green: #007A68;
$color-dark-grey: #595959;