@import '../../variables';

.item__columns {
  padding-left: 15px;
  border-bottom: 1px solid $color-border;
}

.item__column {
  min-width: 25%;
  margin-right: 20px;
  font-family: "SharpGroteskBook", sans-serif;
  font-size: 15px;
  line-height: 1;
  padding: 18px 0 18px;
  border-bottom: 1px solid $color-border;
}

.item__column:first-child {
  padding-left: 15px;
}

.item__column:nth-child(2) {
  min-width: 50%;
}

.item__column:last-child {
  text-align: right;
}

@media screen and (min-width: 375px) {
  .item__column:first-child {
    padding-left: 20px;
  }
}